.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 300px;
}
.footer{
    background-color: hsl(195, 100%, 20%) ;
    color:hsl(71, 100%, 87%) ;
    padding: 50px 0px 20px 0px;
    margin: 0 auto;
    z-index: auto;
}
.footer a{
    color: hsl(170, 40%, 60%);
}
.footer-bottom{
    padding-top: 20px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: hsl(195, 100%, 20%)!important;
    color: aliceblue;
}

.copyright{
    color: floralwhite;
}
address{
    font-size:80%;
    margin:0px;
}

.row-cop-leader{
    padding: 50px 0px 50px 0px;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color:  hsl(195, 100%, 08%);
}
.tab-content{
    border-left: 1px ridge;
    border-bottom: 1px ridge;
    border-right: 1px ridge;
    padding: 30px;
}